/* .activity-card {
  width: 230px;
  height: 300px;
  border-radius: 10px;
  border: 1px solid black;
  text-align: center;
} */
h1 {
  font-size: 36px;
}
.single-activity-img {
  width: 500px;
  border-radius: 10px;
  /* width: 100%; */
  object-fit: cover;
}
.card-text {
}
.single-activity-section {
  text-align: center;
}
