.activities-list {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  flex-wrap: wrap;
  max-width: 1170px;
  margin: 0 auto;
}
.activity-card {
  width: 100px;
}
.btn {
  background-color: #7a36bf;
  border-radius: 8px;
  padding: 10px;
  border: none;
  color: white;
  text-transform: capitalize;
  width: 100%;
}
