.header {
  width: 100%;
  background-color: red;
}
.logo {
  object-fit: cover;
  width: 80px;
  height: 80px;
  border-radius: 50%;
}
.navbar {
  width: 100%;
  font-size: 18px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.5rem 1rem;
  background-color: #1e6ee1;
}
.nav-list {
  display: flex;
  gap: 10px;
}
.nav-link {
  color: white;
}
