.footer {
  background-color: #000000;
  color: white;
  text-align: center;
  font-size: 2.25rem;
  font-family: 'Amatic SC', cursive;

  /* position: absolute;
  left: 0;
  bottom: 0;
  right: 0; */
}

a {
  color: white;
}
